@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Titillium+Web&display=swap'); /*importando fonte do google*/
@font-face {
    font-family: 'FonteLogo';
    src: url(../_fonts/bubblegum-sans-regular.otf); /*importando fonte de um repositorio do projeto*/
}
h2 {
    text-align: left;
}

p {
    text-align: justify;    /*Justificando o texto nos paragrafos*/
    text-indent: 50px;     /*definindo paragrafo*/
}

a {
    color: #606060;
    text-decoration: none;
}

a:hover{
    text-decoration: underline;
}

/*ajustando posicionamento da imagem oculos pequeno*/
header#cabecalho img#icone{
    position: absolute;
    left: 1080px;
    top: 70px;
}

header#cabecalho{
    border-bottom: 1px #606060 solid;   /*definindo o tamanho, cor e tipo da borda*/
    height: 150px;                         /*definindo o tamanho da area do cabeçalho*/
    background: url("../_imagens/glass-logo-peq.jpg") no-repeat 0px 80px; /*inserindo imagem, passando parametro para não repetir e definindo a posição*/
}

header#cabecalho h1 {
    font-family: 'FonteLogo', sans-serif;
    font-size: 30px;
    color: #606060;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.6);
    padding: 0px;
    margin-bottom: 0px;
}

header#cabecalho h2 {
    font-family: "Titillium Web", sans-serif; /*Utilizando fonte externa.*/
    font-size: 15px;
    color: #888888;
    padding: 0px;
    margin-top: 0px;
}

body{
    font-family: Arial, sans-serif;
    background-color: #dddddd;          /*definindo a cor de fundo do site*/
    color: rgba(0, 0, 0, 1);           /*definindo a cor da letra do site*/
}

div#interface {
    width: 900px;
    background-color: white;
    margin: -20px auto 0px auto;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);  /*colocando sombra*/
    padding: 10px;                                  /*definindo distancia do conteúdo das margens*/
}

/*formatação de imagens com legendas*/
figure.foto-legenda{
    position: relative;
    border: 8px solid white;
    box-shadow: 1px 1px 4px black;
}

figure.foto-legenda img{
    width: 100%;
    height: 100%;
}

figure.foto-legenda figcaption{
    opacity: 0;
    position: absolute;
    top: 0px;
    background-color: rgba(0, 0, 0, 0.4);
    color: white;
    width: 100%;
    height: 100%;
    padding: 10px;
    box-sizing: border-box;
    transition: opacity 1s;
}

figure.foto-legenda:hover figcaption{
    opacity: 1;
}

/*definição do estilo do menu*/

nav#menu {
    display: block;
}

nav#menu ul{
    list-style: none;                    /*retirando os marcadores do menu*/
    text-transform: uppercase;           /*definindo todos os itens do menu como maiúscula*/
    position: absolute;                  /*definindo absolute para poder movimentar para qualquer parte do site*/
    top: -10px;  
    left: 550px;
}

nav#menu li {
    display: inline-block;                    /*deixando os itens do menu na mesma linha*/
    background-color: #dddddd;        /*definindo a cor de fundo dos itens do menu*/
    padding: 10px;                      /*definindo o tamanho da caixa de texto de cada iten do menu*/
    margin: 2px;                        /*distancia de um menu para o outro*/
    transition: background-color 1s;    /*criando transição de cor do item no menu quando passar o mouse por cima*/
}

nav#menu li:hover{
    background-color: #606060;      /*defininando cor do backgroud quando passa o mouse em cima de um item do menu*/
}

nav#menu h1{
    display: none;                    /*escontecendo a parte do menu principal pois ele não é necessário*/
}

nav#menu a{
    color: black;                   /*definindo a cor das letras do menu*/
    text-decoration: none;            /*tirando o sublinhado dos itens do menu*/
}

nav#menu a:hover{
    color: white;                   /*defininando cor da letra do menu quando passa o mouse por cima*/
    text-decoration: underline;       /*inserindo o sublinhado para quando passa o mouse por cima dos itens do menu*/
}

section#corpo{
    display: block;
    width: 500px;
    float: left;
    border-right: 1px solid #606060;
    padding-right: 15px;
}



article#noticia-principal h2{
    font-size: 13pt;
    color: #606060;
    background-color: #dddddd;
    padding: 5px 0px 5px 10px;
    margin: 10px 0px 10px 0px;
}

header#cabecalho-artigo h1{
    font-family: 'FonteLogo', sans-serif;
    font-size: 20pt;
    color: #606060;
    margin-bottom: 0px;
    margin-top: 0px;
}

header#cabecalho-artigo h2{
    font-size: 13pt;
    color: #cecece;
    background-color: #ffffff;
    margin: 0px;
}

header#cabecalho-artigo h3{
    font-size: 12px;
    color: #606060;
}

.direita{
    text-align: right;
}

table#tabelaspec{
    border: 1px solid #606060;
    border-spacing: 0px;
    margin-left: auto;
    margin-right: auto;
}

table#tabelaspec td{
    border: 1px solid #606060;
    padding: 10px;
    text-align: left;
    vertical-align: top;            /*definindo altura das td's*/
}
table#tabelaspec td.ce{
    color: #ffffff;
    background-color: #606060;
    border: 1px solid #606060;
    padding: 10px;
    text-align: right;
    vertical-align: top;            /*definindo altura das td's da classe ce*/
    font-weight: bold;
}

table#tabelaspec td.cd{
    background-color: #cecece;
    border: 1px solid #606060;
    padding: 10px;
    text-align: left;
    vertical-align: top;            /*definindo altura das td's da classe cr*/
}

table#tabelaspec caption{
    color: #888888;
    font-size: 13pt;
    font-weight: bolder;
}

table#tabelaspec caption span{
    display: block;
    float: right;
    color: #000000;
    font-size: 8pt;
    margin-top: 10px;
}

aside#lateral{
    display: block;
    width: 350px;
    float: right;
    background-color: #dddddd;
    padding: 10px;
    margin-top: 10px;
    box-shadow: 2px 2px 2px rgba(0, 0, 0,.5);
}

aside#lateral h1{
    font-family: 'FonteLogo', sans-serif;
    font-size: 20pt;
    color: #606060;
    margin-top: 0px;
}

aside#lateral h2{
    background-color: #606060;
    font-size: 13pt;
    color: #ffffff;
    padding: 5px;
}

footer#rodape{
    clear: both;            /*limpando qualquer configuração do css para esta sessao*/
    border-top: 1px solid #606060;
}

footer#rodape p{
    text-align: center;
}